#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100svh;
  display: flex;
  justify-content: center;
  max-width: 100%;
  scrollbar-color: #60f761 #9d00ff;
  transition: scrollbar-color 0.3s ease-out;
  scrollbar-gutter: stable both-edges;
  scrollbar-width: 200px;
}
* {
  color: white;
  /* font-family: 'Creepster'; */
}
::-webkit-scrollbar {
  width: 50px;
}

.logo {
  transition: transform 4s ease;
  animation: glow 4s infinite ease-in-out;
}

.logo:hover {
  transform: rotate(360deg);
}

.glow {
  transition: transform 4s ease;
}

.glow:hover {
  transition: transform 4s ease;
  animation: glow 4s infinite ease-in-out;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo:hover {
    transform: rotate(360deg); /* Rotate smoothly when hovering */
  }
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 5px #9d00ff, 0 0 10px #9d00ff, 0 0 15px #9d00ff,
      0 0 20px #9d00ff;
  }
  50% {
    box-shadow: 0 0 20px #9d00ff, 0 0 40px #9d00ff, 0 0 60px #9d00ff,
      0 0 80px #9d00ff;
  }
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Dark overlay */
  z-index: 9999; /* Make sure it's on top of other elements */
}

body.no-scroll {
  overflow: hidden;
}

.loader {
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: #9d00ff;
  animation: fill 1s ease-in infinite alternate;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

@keyframes fill {
  0% {
    box-shadow: 0 0 0 2px inset;
  }
  100% {
    box-shadow: 0 0 0 10px inset;
  }
}
