@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Segoe UI Emoji', 'Apple Color Emoji', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.content-container {
  max-height: calc(100vh - 104px);
  height: 100%;
}
@media (max-width: 500px) {
  .content-container {
    max-height: auto;
  }
}
.emoji {
  font-family: 'Noto Color Emoji', 'Apple Color Emoji', sans-serif;
}

* {
  box-sizing: border-box;
}
